[Desktop Entry]
Name=cwm
Comment=Lightweight window manager for X11
Exec=cwm
Terminal=False
TryExec=cwm
Type=Application
Keywords=wm;windowmanager;window;manager;cwm;
DesktopNames=cwm;
